snapshots:
  - name: snapshot_example_1_target
    relation: ref('snapshot_example_1_data')
    config:
      strategy: timestamp
      updated_at: event_timestamp
      unique_key: sk_id
      dbt_valid_to_current: "timestamp('9999-12-31 23:59:59')"
      snapshot_meta_column_names:
        dbt_valid_from: eff_begin_period_timestamp
        dbt_valid_to: eff_end_period_timestamp
  
  - name: snapshot_example_2_target
    relation: ref('snapshot_example_2_data')
    config:
      strategy: timestamp
      updated_at: last_updated_time
      unique_key: sk_id
      dbt_valid_to_current: "timestamp('9999-12-31 23:59:59')"
      #post_hook: 
      #  - "{{snapshot_example_2__remove_invalid_records(this, 'to_delete', 1)}}"
      #  - "{{snapshot_example_2__update_end_time(this, 'end_time', 'deploy_start_time', 'sk_id')}}"
  
  # - name: snapshot_example_3_target
  #   relation: ref('snapshot_example_3_data')
  #   config:
  #     strategy: timestamp
  #     updated_at: as_of
  #     unique_key: sk_id
  #     dbt_valid_to_current: "timestamp('9999-12-31 23:59:59')"