snapshots:
  - name: snapshot_example_1_target
    relation: ref('snapshot_example_1_data')
    config:
      strategy: timestamp
      updated_at: event_timestamp
      unique_key: sk_id
      dbt_valid_to_current: "timestamp('9999-12-31 23:59:59')"
      snapshot_meta_column_names:
        dbt_valid_from: eff_begin_period_timestamp
        dbt_valid_to: eff_end_period_timestamp
  
  - name: snapshot_example_2_target
    relation: ref('snapshot_example_2_data')
    config:
      strategy: timestamp
      updated_at: last_updated_time
      unique_key: sk_id
      dbt_valid_to_current: "timestamp('9999-12-31 23:59:59')"